<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

			<section name="TrackerLibrary.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />

		</sectionGroup>
	</configSections>
	<appSettings>
		<add key ="filepath" value="E:\Courses\C#\TrackerLibrary\TextStorage"/>
		<add key ="Sendmail" value ="hariprasadpoojary04@gmail.com"/>
		<add key ="SenderDisplayname" value ="Hariprasad"/>
	</appSettings>
	<connectionStrings>
		<add name = "Tournaments" connectionString="Server=localhost\SQLEXPRESS;Database=Tournament;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="Hariprasad" password="testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>